<div class="modal-body">
    <div class="mb-3">
        <div class="form-group">
            <form [formGroup]="_addForm">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <label>Eğitim Adı</label>
                                        <input type="text" class="form-control" placeholder="Eğitim Adı" formControlName="title">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label>Eğitim Açıklaması</label>
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here"
                                                id="floatingTextarea2" style="height: 100px" formControlName="description"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label for="inputState">Elektronik</label>
                                        <select id="electronicId" name="electronicId" class="form-control" formControlName="educatorId">
                                            <option selected disabled value="0">
                                                Eğitmen Seçiniz
                                            </option>
                                            <option *ngFor="let educator of educators" [ngValue]="educator.id">
                                                {{ educator.firstName + " " + educator.lastName }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label for="inputState">Eğitmen Durumu</label>
                                        <select id="electronicId" name="electronicId" class="form-control" formControlName="type">
                                            <option selected disabled value="0">
                                                Eğitmen Durumu seçiniz
                                            </option>
                                            <option>
                                                İç Eğitmen
                                            </option>
                                            <option>
                                                Dış Eğitmen
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label>Kontejan</label>
                                        <input type="number" class="form-control" placeholder="0" formControlName="quota">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label>Günlük Ücret</label>
                                        <input type="number" class="form-control" placeholder="0" formControlName="dailyPrice">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label>Başlangıç Tarihi</label>
                                        <input type="date" class="form-control" formControlName="startDate">
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <label>Bitiş Tarihi</label>
                                        <input type="date" class="form-control" formControlName="endDate">
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success mt-3" (click)="add()">Oluştur</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>