<div class="row">
    <div class="card mt-3 col-3" style="width: 18rem;" *ngFor="let education of educations">
        <div class="card-body">
          <h5 class="card-title">{{education.educationTitle}}</h5>
          <p class="card-text">{{education.educationDescription}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Konuşmacı Bilgileri: 
            <ul>
                <li>
                    Ad Soyad: {{education.educatorFirstName + " " + education.educatorLastName}}
                </li>
                <li>
                    Ünvan : {{education.educatorTitle}}
                </li>
                <li>
                    {{education.educatorType}}
                </li>
            </ul>
          </li>
          <li class="list-group-item">Tarih: {{education.startDate | date:"MM/dd/yy"}} - {{education.endDate | date:"MM/dd/yy"}}</li>
          <li class="list-group-item">Kontejan: {{education.quota}}</li>
          <li class="list-group-item">Ücret: {{education.dailyPrice}} TL</li>

        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Katıl</a>
        </div>
      </div>
</div>

